@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.borderOne{
background-color: #6c757d;
color: #ffffff;
font-style: italic;
}

.logo-container {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center;     /* Vertically center */
  text-align: center;      /* Ensure text itself is centered */
}
.navbar {
  width: 100%;
}

.nav-link {
  text-align: center;
  white-space: nowrap; /* Prevent text wrapping */
}

.sidebar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-item {
  margin: 0.5rem 0; /* Optional: Add spacing between buttons */
}


/* Adjust text size and spacing for logo */
@media (min-width: 576px) {
  .side-bar{
    margin-left: 0px;
    padding-right: 150px;
    overflow:hidden;
    position: block;
  }
}

