@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.borderOne{
background-color: #6c757d;
color: #ffffff;
font-style: italic;
}

.logo-container {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center;     /* Vertically center */
  text-align: center;      /* Ensure text itself is centered */
}

/* Adjust text size and spacing for logo */
@media (min-width: 576px) {
  .side-bar{
    margin-left: 0px;
    padding-right: 150px;
    overflow:hidden;
    position: block;
  }
}

