@font-face {
  font-family: 'Fandango'; 
  src: url('../fonts/Fandango.otf') format('opentype');
  font-weight: normal; 
  font-style: normal; 
}
/* Look UP */
.fandango {
  font-size: 400%;
  font-family: 'Fandango', sans-serif; 
}

.backgroundcolor{
background-color:#ffffff;;
}

.underline2{
  text-decoration: underline dotted 1px ;
  text-underline-offset: 3px; 
}


.helvetica{
  font-family: Helvetica;
  font-weight: 100;
}
.light{
  font-weight: 100;
}

.c1{
  color: #D9594C;
}
.c2{
  color: #A87CA1;
}
.c3{
  color: #D9B237;
}
.c4{
  color: #2A7D7F;
}

.text-purple-bold{
  color: #A87CA1;
  font-weight: 500;
}
.btn-outline-warning {
  border-color: #ffc107;
  color: #A87CA1; 
  transition: color 0.3s ease, border-color 0.3s ease; 
}

.btn-outline-warning:hover {
  background-color: #A87CA1; 
  border: none;
  color: #ffffff;;
}

.text-purple-bold {
  color: #A87CA1; 
  font-weight: 500;
}

.PortfolioNav {
  background-color: #ced6e4;
  background-color: #cab1c6;;
}
.grey {
  color: #a0aab5;
}
.bg-grey{
  background-color:  #212529;;
}
.agsLogo {
  width: 7%;
}










