
.PortfolioNav {
    background-color: #ced6e4;
  }


.agsLogo{
  width: 7%;
}

.justify-text {
  text-align: justify;
}
.smallfont{
  font-size: 8.4pt;
}
.fullWidth{
  width: 55%;
}
.DashboardPadding{
  padding: 8%;
}
.background {
  object-position: center; 
  width: 100%;
}
.rounded2{
  border-radius: 50px;
}

@media screen and (max-width: 768px) {
  .agsLogo{
    width: 15%;
  }
  .mobileText{
    font-size: 10pt;
  }
  .mobileWidth{
    width: 60%;
  }
  .background {
    object-position: center; /* Center the image for smaller screens */
  }
}